<% if session[:keyword].present? %>
    <%= link_to "DOWNLOAD-CSV", findjobs_download_path(format: :csv), class: "btn btn-primary" %>
    <br>
    <br>
    <div>
        <% if @joblinks %>
            <% @joblinks.each do |job| %>
                <a href=<%= job.job_href %> ><h2><%= job.job_title %></h2></a>
                <p><%= job.company_name %></p>   
                <p><%= job.location %></p>
                <p><%= job.job_description %></p>
            <% end %>
        <% else %>
            <div>
                <b> NO DATA TO DISPLAY!</b>
            </div>
        <% end %>
    </div>
    <div class="outer">
        <div class="inner">
            <%= paginate @joblinks %>
        </div>
    </div>
<% end %>