<div class="row" style="margin-top: 50px;" >
  <div class="search" style="margin: auto !important;">
      <form action = "/findjobs/indeed" class="btn" data-remote = "true" id="form_key">
          <% if session[:keyword].length > 0 %>
            <input type="text" name = "query" id="job_query" class="form-control" placeholder=<%= session[:keyword] %> />
          <% else %>
            <input type="text" name = "query" id="job_query" class="form-control" placeholder="Search" />
          <% end %>
          <button type="submit" class="btn btn-primary" style="padding-bottom: 27px;">Search</button>
      </form>
  </div>
</div>

<div class="row">
  <div class=" col-md-12 " style="margin: 20px auto;">
    <div class="col-md-2 col-md-offset-3">
        <%= image_tag("ajax-loader.gif", :id => "loading-indicator") %>
    </div>

    <div id="display" class="col-md-12" style="margin-top: 20px;">
      <%= render 'content' %>
    </div>
  </div>
</div>